<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cieloAbierto">Voladuras Cielo Abierto<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/VoladuraVias">Voladura en Vías<span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Demolición Estructuras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="EstructurasGustaffson">Rune Gustafsson</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="EstructurasEstebanLanga">Esteban Langa</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="EstructurasLopezJimeno">López Jimeno</a>
          </div>
        </li>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>