.chartWithOverlay {
    position: relative;
    width: 700px;
}
.overlay {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 200px;  /* chartArea top  */
    left: 180px; /* chartArea left */
}