<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Estructuras Esteban Langa</li>
    </ol>
</nav>
<h1 class="text-center">Demolición Estructuras Esteban Langa</h1>
<br />
<h2>Datos de Salida</h2>
<br />
<div class="card">
    <h5 class="card-header text-center">Resultados Generales</h5>
    <div class="card-body">
    </div>
</div>
<br />
<br />
<div class="card">
    <h5 class="card-header text-center">Resultados Kuz Ram</h5>
    <div class="card-body">

    </div>
</div>
<br />
<br />